.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    .card--image{
        width: 150px;
        height: 200px;
        border-radius: 10px;
    }
    .card--content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 100%;
        gap: 10px;
        padding: 1em;
        .card--info{
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            width: 100%;
            gap: 10px;
        }
    }
}



@media screen and (max-width: 768px) {
    .card{
        flex-direction: column;
        gap: 10px;
        .card--image{
            width: 100%;
            height: auto;
        }
        .card--content{
            padding: 1em;
            .card--info{
                flex-wrap: wrap;
                gap: 5px;
            }
        }
    }
    .nav--tittle{
        display: none;
    }
}
@media screen and (min-width: 769px) {
    .card{
        width: 70%;
        .card--image{
            width: 25%;
            height: auto;
        }
    }
}